<div class="dimension">
  <mat-form-field appearance="fill">
    <mat-label>Select dimension</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Enter some input</mat-label>
        <input matInput #input placeholder="Ex. Nougat" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select dimension</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Enter some input</mat-label>
        <input matInput #input placeholder="Ex. Nougat" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select dimension</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="inscription">
    <p>Formula 1 meter = 100 centimeters</p>
  </div>
</div>
