<div class="dimension">
  <div class="container">
    <div class="input-group">
      <input
        matInput
        #input
        placeholder="Enter value"
        class="top-input"
        type="number"
        [(ngModel)]="baseAmount"
        (ngModelChange)="calculate()"
      />
      <mat-select class="bottom-input" [(value)]="selectedOne">
        <mat-option *ngFor="let item of length" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </div>

    <div class="input-group">
      <input
        matInput
        #input
        placeholder="Enter value"
        class="top-input"
        type="number"
        type="number"
        [(ngModel)]="convertAmount"
        (ngModelChange)="calculate()"
      />
      <mat-select class="bottom-input" [(value)]="selectedTwo">
        <mat-option *ngFor="let item of length" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="inscription">
    <p>Formula 1 meter = 100 centimeters</p>
  </div>
</div>
