<div class="head">
  <h1>Dimensions Converter</h1>
</div>
<div class="dimension">
  <div class="container">
    <div class="input-group">
      <input
        matInput
        #input
        placeholder="Enter value"
        class="top-input"
        type="number"
        [(ngModel)]="baseAmount"
        (ngModelChange)="calculateBase()"
      />
      <mat-select
        class="bottom-input"
        [(value)]="selectedOne"
        (selectionChange)="getRate()"
      >
        <mat-option *ngFor="let item of length" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </div>

    <div class="input-group">
      <input
        matInput
        #input
        placeholder="Enter value"
        class="top-input"
        type="number"
        type="number"
        [(ngModel)]="convertAmount"
        (ngModelChange)="calculateConvert()"
      />
      <mat-select
        class="bottom-input"
        [(value)]="selectedTwo"
        (selectionChange)="getRate()"
      >
        <mat-option *ngFor="let item of length" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </div>
  </div>
</div>
